/****** Object:  Table [dbo].[chambre]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chambre](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numero] [varchar](10) NOT NULL,
	[hotel_id] [int] NOT NULL,
 CONSTRAINT [PK_chambre] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chambre_reservation]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chambre_reservation](
	[reservation_id] [int] NOT NULL,
	[chambre_id] [int] NOT NULL,
 CONSTRAINT [PK_chambre_reservation] PRIMARY KEY CLUSTERED 
(
	[reservation_id] ASC,
	[chambre_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[client]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[client](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](30) NULL,
	[mail] [varchar](50) NULL,
	[motpasse] [nvarchar](max) NULL,
 CONSTRAINT [PK_client] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipement]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipement](
	[id] [int] NOT NULL,
	[libelle] [varchar](50) NULL,
	[logo] [varchar](50) NULL,
 CONSTRAINT [PK_equipement] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipement_hotel]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipement_hotel](
	[hotel_id] [int] NOT NULL,
	[equipement_id] [int] NOT NULL,
 CONSTRAINT [PK_equiper] PRIMARY KEY CLUSTERED 
(
	[hotel_id] ASC,
	[equipement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hotel]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hotel](
	[id] [int] NOT NULL,
	[nom] [varchar](50) NULL,
	[rue1] [varchar](100) NULL,
	[rue2] [varchar](100) NULL,
	[cp] [varchar](10) NULL,
	[ville] [varchar](50) NULL,
	[telephone] [varchar](20) NULL,
	[descourt] [nvarchar](max) NULL,
	[deslong] [nvarchar](max) NULL,
	[prix] [float] NULL,
	[motpasse] [nvarchar](max) NULL,
 CONSTRAINT [PK_hotel] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[photo]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[photo](
	[id] [int] NOT NULL,
	[nomfichier] [varchar](50) NULL,
	[hotel_id] [int] NOT NULL,
 CONSTRAINT [PK_photo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reservation]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[datedebut] [date] NULL,
	[datefin] [date] NULL,
	[hotel_id] [int] NOT NULL,
	[client_id] [int] NOT NULL,
 CONSTRAINT [PK__reservat__F92D26C802D9D041] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[chambre] ON 

INSERT [dbo].[chambre] ([id], [numero], [hotel_id]) VALUES (1, N'6', 105)
INSERT [dbo].[chambre] ([id], [numero], [hotel_id]) VALUES (2, N'7', 105)
INSERT [dbo].[chambre] ([id], [numero], [hotel_id]) VALUES (3, N'8', 105)
GO
SET IDENTITY_INSERT [dbo].[chambre] OFF
INSERT [dbo].[chambre_reservation] ([reservation_id], [chambre_id]) VALUES (1, 503)
INSERT [dbo].[chambre_reservation] ([reservation_id], [chambre_id]) VALUES (1, 504)
INSERT [dbo].[chambre_reservation] ([reservation_id], [chambre_id]) VALUES (1, 506)
SET IDENTITY_INSERT [dbo].[client] ON 

INSERT [dbo].[client] ([id], [nom], [mail], [motpasse]) VALUES (1, N'GIRAUD', N'kevin.giraud@gmail.com', N'$argon2id$v=19$m=65536,t=3,p=1$yHDqnXAhYFt2ALAj4Izx+g$BdXsOTwkYcm3Lf4H1ws3MhU4M6OVFCKF2UHdb9dJ7vU')
INSERT [dbo].[client] ([id], [nom], [mail], [motpasse]) VALUES (2, N'LENOIR', N'lea.lenoir@gmail.com', N'$argon2id$v=19$m=65536,t=3,p=1$aUX3gAT1TMk4mexCYeLn5Q$Yj4pMDdbYq1YYzZxhIMplW3LlT1OTfIwTQtec0nK9tQ')
INSERT [dbo].[client] ([id], [nom], [mail], [motpasse]) VALUES (3, N'MERAD', N'smail.merad@yahoo.fr', N'$argon2id$v=19$m=65536,t=3,p=1$r2Id7sxbmiEQy/rjXg71aQ$FDA1lsXtarxk8rlolMe8O68gpTLNULSRM/ltwrq0nPw')
SET IDENTITY_INSERT [dbo].[client] OFF
INSERT [dbo].[equipement] ([id], [libelle], [logo]) VALUES (15, N'Wifi', N'wifi.png')
INSERT [dbo].[equipement] ([id], [libelle], [logo]) VALUES (18, N'Animaux admis', N'animaux.png')
INSERT [dbo].[equipement] ([id], [libelle], [logo]) VALUES (21, N'Petit Déjeuner', N'petitdejeuner.png')
INSERT [dbo].[equipement_hotel] ([hotel_id], [equipement_id]) VALUES (101, 15)
INSERT [dbo].[equipement_hotel] ([hotel_id], [equipement_id]) VALUES (101, 21)
INSERT [dbo].[equipement_hotel] ([hotel_id], [equipement_id]) VALUES (101, 35)
INSERT [dbo].[photo] ([id], [nomfichier], [hotel_id]) VALUES (1, N'01.jpg', 105)
INSERT [dbo].[photo] ([id], [nomfichier], [hotel_id]) VALUES (2, N'02.jpg', 106)
INSERT [dbo].[photo] ([id], [nomfichier], [hotel_id]) VALUES (3, N'03.jpg', 107)
SET IDENTITY_INSERT [dbo].[reservation] ON 

INSERT [dbo].[reservation] ([id], [datedebut], [datefin], [hotel_id], [client_id]) VALUES (1, CAST(N'2026-10-01' AS Date), CAST(N'2026-10-04' AS Date), 103, 2)
INSERT [dbo].[reservation] ([id], [datedebut], [datefin], [hotel_id], [client_id]) VALUES (2, CAST(N'2026-10-02' AS Date), CAST(N'2026-09-04' AS Date), 103, 1)
SET IDENTITY_INSERT [dbo].[reservation] OFF
/****** Object:  Index [IX_chambre]    ******/
CREATE NONCLUSTERED INDEX [IX_chambre] ON [dbo].[chambre]
(
	[hotel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
